/* Import Fonts Here */

/* Color Scheme 

Fire engine red: #c82b2d
Cinnabar (orange): #ed5229
Black: #000000
white: #ffffff
Darker fire enginer red: #C51E24

https://coolors.co/c82b2d-ed5229-000000-ffffff-c51e24

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
  }

/* Global Styles */
* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
/* Toast */
/* App.css */

/* Custom styles for the toast notifications */
.toast-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

.toast {
	background: #333;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Header Component */
.header {
	background-color: white;
	padding-bottom: 20px;
}

.logo {
	position: absolute;
	left: 0;
	top: 0;
	margin-top: 10px;
	margin-left: 20px;
}

.logo img {
	height: 60px;
	width: auto;
}

.search-area {
	text-align: center;
	margin-top: 20px;
}

.search-area input {
	border-radius: 2px;
	width: 50vw;
	height: 30px;
	padding-left: 30px;
}
.search-area img {
	height: 20px;
	width: auto;
	position: absolute;
	padding: 5px;
	padding-top: 7px;
}
.user-section {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 20px;
	margin-right: 50px;
}
.user-section button {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
.card-container {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.profile-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	text-align: center;
	width: 300px;
}
.card-title {
	font-size: larger;
	font-weight: 400;
	margin-bottom: 20px;
}
.login-form {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}
.login-label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #333;
}
.login-input-email,
.login-input-password {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.login-input-email:focus,
.login-input-password:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.login-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.login-button:hover {
	background-color: #0056b3;
}
.signup-link {
	display: block;
	margin-top: 10px;
	text-align: center;
	color: #007bff;
	text-decoration: none;
}
.signup-link:hover {
	text-decoration: underline;
}
.register-form {
	max-width: 400px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}
.register-label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #333;
}
.register-input-name,
.register-input-email,
.register-input-password {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}
.register-input-name:focus,
.register-input-email:focus,
.register-input-password:focus {
	border-color: #007bff;
	outline: none;
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.register-button {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.register-button:hover {
	background-color: #0056b3;
}
.goHome {
	margin-top: 20px;
	text-decoration: none;
}
/* Recommendations Component */
.recommendations-section {
	margin-top: 20px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}
.section-title {
	text-align: left;
	margin-bottom: 20px;
}
.section-title h2 {
	font-size: 22px;
	font-weight: bold;
	color: #333;
}

/* Book Cards Container */
.book-cards {
	display: flex;
	gap: 20px;
	justify-content: flex-start;
	overflow-x: auto;
	padding: 10px;
}

.book-card {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px;
	text-align: center;
	width: 120px;
	border-radius: 8px;
	flex-shrink: 0;
}

.book-image {
	width: 100px;
	height: 150px;
	object-fit: cover;
	border-radius: 4px;
	margin-bottom: 10px;
}

.book-card h3 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #333;
}

.book-card p {
	font-size: 12px;
	color: #777;
}

/* Book Search List */
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	gap: 20px;
}

.book-desc {
	font-size: 14px;
	color: #333;
	margin-top: 10px;
}
/* Footer */
.footer-logos {
    position: absolute;
    bottom: 15px;
    left: 20%;
}

.footer-logos .x-logo {
    margin-left: 5px;
}

.footer-logos .instagram-logo {
    margin-left: 5px;
}

.footer-logos .youtube-logo {
    margin-left: 5px;
}

.footer-logos .linkedin-logo {
    margin-left: 5px;
}

.footer-text .user-cases {
    position: absolute;
    bottom: 15px;
    left: 35%;
}

.footer-text .explore {
    position: absolute;
    bottom: 15px;
    left: 50%;
}

.footer-text .resources {
    position: absolute;
    bottom: 15px;
    left: 65%;
}
/* Dashboard Page */
.d-page {
	width: 100vw;
	height: 100%;
	background-color: #f0f0f0;
	margin-top: 20px;
}
.d-card-right {
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: 800px;
	position: absolute;
	right: 0;
	top: 100px;
	margin-right: 40px;
}
.right-title {
	font-weight: 500;
	font-size: x-large;
	padding: 15px;
	margin-bottom: 20px;
}
.right-users {
	margin-left: 80px;
	margin-bottom: 80px;
	font-weight: 500;
}
.right-desc {
	position: absolute;
	margin-left: 80px;
	margin-top: -80px;
	font-size: small;
	color: grey;
}
.right-pic {
	position: absolute;
	background-color: #f0f0f0;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-left: 15px;
}
.right-btn {
    position: absolute;
    right: 0;
    margin-top: -100px;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ccc; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.right-btn:hover {
    background-color: #f0f0f0; 
    transform: scale(1.05); 
}
.right-btn:active {
    background-color: #e0e0e0; 
    transform: scale(0.95); 
}
.showmore {
	display: flex;
	justify-content: center;
	align-items: center;
}
.showmore button {
	color: #c82b2d;
	background-color: white;
	border-color: none;
	border-style: none;
	cursor: pointer;
}
.showmore img {
	position: absolute;
	bottom: 68px;
	margin-left: 5px;
}
.d-card-main {
	position: absolute;
	top: 100px;
	background-color: white;
	width: calc(100vw - 520px);
	height: 560px;
	border-radius: 10px;
	margin-left: 40px;
}
.main-banner {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #c82b2d;
	height: 250px;
}
.main-name {
	margin-left: 5px;
	margin-top: 40px;
	font-size: x-large;
	font-weight: 500;
	padding: 15px;
}
.main-profile-pic {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	top: 200px;
	margin-left: 20px;
	background-color: white;
	position: absolute;
}
.innerlayer {
	width: 90px;
	height: 90px;
	border-radius: 100px;
	background-color: #f0f0f0;
	margin-left: 5px;
	margin-top: 5px;
}
.main-title {
	font-size: medium;
	color: grey;
	margin-top: -10px;
	margin-left: 20px;
}
.main-desc {
	font-size: small;
	color: grey;
	margin-top: 10px;
	margin-left: 20px;
	width: 700px;
}
.followers-number {
	position: absolute;
	bottom: 75px;
	font-size: medium;
	font-weight: 500;
	color: #c82b2d;
	margin-left: 20px;
}
.followers {
	position: absolute;
	bottom: 75px;
	font-size: small;
	font-weight: 500;
	color: grey;
	margin-left: 70px;
}
.following-number {
	position: absolute;
	bottom: 75px;
	font-size: medium;
	font-weight: 500;
	color: #c82b2d;
	margin-left: 150px;
}
.following {
	position: absolute;
	bottom: 77px;
	font-size: small;
	font-weight: 500;
	color: grey;
	margin-left: 195px;
}
.more {
	width: 100px;
	height: 40px;
    border-radius: 5px;
	background-color: white;
    border: 1px solid #c82b2d; 
	color: #c82b2d;
    transition: background-color 0.3s ease, transform 0.3s ease; 
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	bottom: 10px
}
.more:hover {
	background-color: #a52828;
    transform: scale(1.05);
	color: white;
}
.more {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #c82b2d; 
    color: #c82b2d;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    bottom: 10px
}
.more:hover {
    background-color: #a52828;
    transform: scale(1.05);
    color: white;
}
.d-card-post {
	background-color: white;
	border-radius: 10px;
	width: calc(100vw - 520px);
	height: 560px;
	margin-top: 610px;
	margin-left: 40px;
	overflow: hidden;
}
.post-name {
	font-weight: 500;
	font-size: x-large;
	padding: 20px;
	margin-bottom: 10px;
}
.post-main-container {
	overflow-x: auto;
	display: flex;
	flex-direction: row;
	margin-left: 20px;
	margin-right: 20px;
	gap: 20px;
	white-space: nowrap;
}
.post-container {
	width: 450px;
	height: 400px;
	background-color: #f0f0f0;
	border-radius: 10px;
	flex-shrink: 0;
}
.post-img {
	width: 100%;
	height: 200px;
	background-color: #c82b2d;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.post-title {
	font-size: medium;
	font-weight: 500;
	padding: 10px;
}
.post-desc {
	overflow: hidden;
	padding: 10px;
}
.post-heart {
	margin-left: 10px;
	margin-top: 10px;
	cursor: pointer;
	padding: 0;
	border-style: none;
}
/* Settings Page */
.settings-page-container {
	background-color: #f0f0f0;
	width: 100%;
	height: calc(100vh - 20px);
}
.left-nav {
	background-color: white;
	border-radius: 10px;
	width: 400px;
	height: 800px;
	position: absolute;
	left: 0;
	top: 100px;
	margin-left: 50px;
}
.nav-title {
	font-size: x-large;
	font-weight: 500;
	padding: 20px;
}
.nav-img {
	margin-right: 20px;
	margin-top: 5px;
}
.nav-container {
	margin-left: 20px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	background-color: white;
	border-style: none;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}
.nav-name {
	font-size: medium;
}
.settings-middle {
	background-color: white;
	width: calc(100vw - 520px);
	height: 800px; 
	margin-left: 470px;
	position: absolute;
	top: 100px;
	border-radius: 10px;
}
.settings-middle .nav-name {
	font-size: large;
}
.profile-pic {
	margin-left: 20px;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	background-color: #f0f0f0;
}
.middle-change-btn {
	background-color: white;
	border-color: #c82b2d;
	border-style: solid;
	padding: 10px;
	width: 120px;
	font-size: small;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	color: #c82b2d;
	font-weight: 500;
	position: absolute;
	top: 80px;
	left: 150px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-change-btn img {
	margin-right: 10px;
	margin-bottom: 2px;
}
.middle-remove-btn {
	background-color: white;
	border-color: #c82b2d;
	border-style: solid;
	padding: 10px;
	width: 120px;
	font-size: small;
	display: flex;
	align-content: center;
	justify-content: center;
	border-radius: 10px;
	color: #c82b2d;
	font-weight: 500;
	position: absolute;
	top: 140px;
	left: 150px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-remove-btn img {
	margin-right: 10px;
	margin-bottom: 2px;
}
.middle-change-btn:hover {
	background-color: #a52828;
    transform: scale(1.05);
	color: white;
}
.middle-remove-btn:hover {
	background-color: #a52828;
    transform: scale(1.05);
	color: white;
}
.spacer {
	margin-top: 40px;
}
.middle-username-title {
	margin-left: 20px;
	font-size: medium;
	font-weight: 500;
	margin-bottom: 5px;
}
.middle-username-box {
	margin-left: 20px;
	width: 400px;
	height: 40px;
	border: 1px solid #333;
	border-radius: 4px;
	margin-bottom: 20px;
	padding-left: 10px;
}
.middle-username-box:focus {
	border-style: none;
    outline: 2px solid #c82b2d;
}
.middle-cancel-btn {
	width: 150px;
	height: 40px;
	border-color: #c82b2d;
	border-style: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c82b2d;
	border-radius: 10px;
	position: absolute;
	bottom: 250px;
	left: 20px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-cancel-btn:hover {
	background-color: #a52828;
    transform: scale(1.05);
	color: white;
}
.middle-update-btn {
	width: 150px;
	height: 40px;
	border-color: #c82b2d;
	border-style: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #a52828;
	border-radius: 10px;
	position: absolute;
	bottom: 250px;
	left: 200px;

	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.middle-update-btn:hover {
	background-color: white;
    transform: scale(1.05);
	color: #c82b2d;
}
.middle-des-title {
	font-size: medium;
	font-weight: 500;
	position: absolute;
	left: 0;
	margin-left: 500px;
	top: 215px;
}
.middle-des-box {
	width: 400px;
	height: 223px;
	border: 1px solid #333;
	border-radius: 4px;
	padding-left: 10px;
	position: absolute;
	left: 0;
	top: 246px;
	margin-left: 500px;
	text-align: start;
	overflow: auto;
	box-sizing: border-box;
	white-space: pre-wrap;
	padding-top: 10px;
}
.middle-des-box:focus {
	border-style: none;
    outline: 2px solid #c82b2d;
}
.password-err {
	margin-left: 20px;
	margin-top: 10px;
	font-size: small;
	color: #c82b2d;
}
.email-address {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 20px;
	font-size: small;
	color: #c82b2d;
}
.security .middle-cancel-btn, .security .middle-update-btn {
	margin-bottom: 150px;
}
/*icon modal*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
	outline: none;
	background-color: white;
	border-style: none;
    cursor: pointer;
}
.modal-close img {
	width: 25px;
}
.icons-container {
	display: flex;
	flex-direction: row;
}
.modal-cancel-btn {
	width: 150px;
	height: 40px;
	border-color: #c82b2d;
	border-style: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #c82b2d;
	border-radius: 10px;
	background-color: white;
	margin-top: 40px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.modal-cancel-btn:hover {
	background-color: #a52828;
    transform: scale(1.05);
	color: white;
}
.modal-update-btn {
	width: 150px;
	height: 40px;
	border-color: #c82b2d;
	border-style: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #a52828;
	border-radius: 10px;
	margin-left: 20px;
	margin-top: 40px;
	transition: background-color 0.3s ease, transform 0.3s ease; 
}
.modal-update-btn:hover {
	background-color: white;
    transform: scale(1.05);
	color: #c82b2d;
}
.modal-btn-wrapper {
	display: flex;
	flex-direction: row;
}