.dash {
	padding-bottom: 15px;
	height: 100%;
	background-color: #f0f0f0;
}
@media only screen and (min-width: 1000px) {
	.dashboard {
		display: flex;
		flex-direction: row;
	}
	.dashboard-left {
		flex-direction: column;
	}
	.dashboard-right {
		margin-left: -15px;
		flex-direction: column;
	}
}
