
.popular-card {
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 10px;
    width: 29vw;
    height: calc(100vh - 105px);
    top: 0;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 90px;
}
.popular-title {
	font-weight: 500;
	font-size: x-large;
	padding: 15px;
	text-align: center;
}
.popular-book-container {
    width: 30vw;
}
.inner-popular-container {
    width: auto;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}
.inner-popular-container ul {
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}
.popular-book-card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.popular-book-desc {
    margin-top: 10px;
    margin-bottom: 20px;
}
.popular-book-title {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
}
.popular-book-author {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
} 
.popular-book-img {
    border-radius: 10px;
    /* width: 125px;
    height: 100px; */
    width: auto;
    height: 150px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}