.popular-container {
    background-color: #f0f0f0;
    margin-top: -100px;
    padding-top: 25px;
}
.popular-card {
    position: absolute;
    right: 0;
    background-color: white;
    border-radius: 10px;
    width: 30vw;
    height: calc(100vh - 105px);
    top: 0;
     /* margin-top: 15px; this is causing the homepage to look weird for kathryn*/
    margin-bottom: 15px;
    margin-top: 85px;
    margin-right: 15px;
}
.popular-title {
	font-weight: 500;
	font-size: x-large;
	padding: 15px;
	text-align: center;
}
.popular-book-container {
    width: 30vw;
}
.inner-popular-container {
    width: auto;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
}
.inner-popular-container ul {
	list-style-type: none;
	padding: 0; 
	margin: 0; 
}
.popular-book-card-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
    margin-bottom: 10px;
}

.popular-book-desc {
    margin-top: 10px;
    margin-bottom: 20px;
}
.popular-book-title {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
    width: 30vh;
}
.popular-book-author {
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
} 
.popular-book-img {
    border-radius: 10px;
    width: auto;
    height: 150px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;

}
@media (max-width: 800px) {
    .popular-card {
        position: relative;
        border-color: blue;
        margin-left: 15px;
        width: 100%;
        width: calc(100vw - 30px);
    }
}