/* New Styling */
.readingListBackground {
    width: calc(100vw - 5px);
	height: calc(100vh - 20px);
    background-color: #f0f0f0;
}
.readingListCardContainer {
    display: flex;
    background-color: #f0f0f0;
}
.reading-list-container {
    display: flex;
	flex-direction: row;
}
.readingListLeftCard {
    background-color: white;
	border-radius: 10px;
	width: 25vw;
	height: calc(100vh - 110px);
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.leftCardTitle {
	font-size: x-large;
	font-weight: 500;
	padding: 20px;
}
.readingListLeftCard button {
    border-style: none;
    margin-left: 15px;
	margin-top: 25px;
	display: flex;
	flex-direction: row;
	background-color: white;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	font-size: medium;
}
.readingListLeftCard button.active {
    color: #c82b2d;
}
.search-bar {
    width: 100%;
    margin-bottom: 20px;
}
.search-bar img {
    height: 20px;
    width: auto;
    position: absolute;
    padding: 5px;
    margin-left: 15px;
    padding-top: 7px;
}
.search-bar input {
    border-color: #c82b2d;
    color: #c82b2d;
	border-style: solid;
	border-radius: 10px;
	border-width: 2px;
    margin-left: 15px;
	width: calc(100% - 70px);
	height: 30px;
	padding-left: 30px;
}
.readingListRightCard {
    margin-top: 15px;
	margin-left: 15px;
	background-color: white;
	border-radius: 10px;
	width: calc(75vw - 45px);
    margin-right: 15px;
	height: calc(100vh - 110px);
    overflow-y: auto;
}
.readingListRightCard .noBooksFound {
    margin-left: 15px;
    color: #c82b2d;
}
.readingListRightCard h2 {
    font-size: x-large;
	font-weight: 500;
	margin-left: 15px;
}
.readingListRightCard .book-item {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
.readingListRightCard .book-item img {
    width: 100%;
    max-width: 160px;
    height: auto;
}
.book-item-desc h3 {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: larger;
    font-weight: 500;
}
.book-item-desc .bookAuthor {
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: medium;
}
.book-item-desc .deleteBook {
	border-radius: 5px;
	padding: 5px;
	background-color: #c82b2d;
	color: white;
	border-style: solid;
	border-color: #c82b2d;
	border-width: 0.1rem;
	width: 80px;
	height: 35px;
    margin-top: 15px;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease, transform 0.3s ease;
}
.book-item-desc .deleteBook:hover {
    background-color: white;
    color: #c82b2d;
    transform: scale(1.05);
}
.book-item-desc .progress-container input{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding-left: 5px;
    border-radius: 5px;
    margin-right: 15px;
}
.book-item-desc .progress-container button{
    border-radius: 5px;
    background-color: #c82b2d;
    color: white;
    border-style: solid;
    border-color: #c82b2d;
    border-width: 0.1rem;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.pages-info p {
    margin-bottom: -5px;
    font-size: medium;
    margin-top: 5px;
}